%% -*- mode: Erlang; -*-
{erl_opts, [{parse_transform, lager_transform}]}.
{sub_dirs, [
            "apps/proxy_client",
            "apps/proxy_server",
            "rel"
           ]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
  {lager, ".*",
   {git, "https://github.com/lywaterman/lager.git", "master"}},
  {moon, ".*",
   {git, "https://github.com/lywaterman/moon.git", "system-deploy"}}
  ]}.

